@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-all;
  font-family: "Noto Sans KR", "돋움", sans-serif;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
  color: #000000;
}

* button {
  background: transparent;
  border: 0;
}

html {
  font-size: 18px;
}

.header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  position: relative;
  z-index: 99;
}

.header .header__inner-box {
  width: 95%;
  max-width: 1240px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo h1 {
  color: #58bd97;
  cursor: pointer;
}

.header .menu-bar {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu-bar .menu-bar__navi {
  margin-right: 50px;
}

.header .menu-bar .menu-bar__hamburger {
  position: relative;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__btn {
  background: #58bd97;
  padding: 8px;
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__btn .user-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__btn .user-icon img {
  max-width: 100%;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__btn .hamburger-icon {
  width: 20px;
  height: 16px;
  margin: 0 7px 0 15px;
  cursor: pointer;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__btn .hamburger-icon img {
  max-width: 100%;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__ul {
  display: none;
  width: 140px;
  background: #ffffff;
  position: absolute;
  top: 57px;
  right: 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 5px 0;
  border-radius: 20px;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__ul li {
  margin: 7px 0;
  padding: 0 20px;
  cursor: pointer;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__ul li a {
  font-size: 0.9rem;
  font-weight: 500;
}

.header .menu-bar .menu-bar__hamburger .menu-bar__hamburger__ul li.top-border {
  border-top: 1px solid #e7e7e7;
  margin-top: 12px;
  padding-top: 5px;
}

.header .navi {
  width: auto;
  height: auto;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navi li {
  display: block;
}

.header .navi li:first-of-type {
  margin-right: 40px;
}

.header .navi li a {
  font-size: 1rem;
  font-weight: 500;
}

.sub-banner {
  width: 100%;
  height: 200px;
  position: relative;
}

.sub-banner:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.sub-banner .sub-banner__bgimg {
  width: 100%;
  height: 100%;
  background: url(../img/sub-banner-bgimg.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.sub-banner .sub-banner__text {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.sub-banner .sub-banner__text .title {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
}

.sub-banner .sub-banner__text .subtitle {
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: 300;
}

.wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.wrapper .sub-navi {
  width: 100%;
  height: 60px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sub-navi ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sub-navi ul li {
  height: 100%;
  line-height: 60px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin: 0 20px;
  position: relative;
}

.wrapper .sub-navi ul li.isNow a {
  color: #58bd97;
}

.wrapper .sub-navi ul li.isNow:after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background: #58bd97;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contents {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.contents .contents__inner {
  width: 95%;
  max-width: 1240px;
}

.plan-title {
  width: 100%;
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-title .plan-title__box {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.plan-title .plan-title__box .number {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: #58bd97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 5px;
}

.plan-title .plan-title__box .number span {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
}

.plan-title .plan-title__box .number:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #ffffff;
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
}

.plan-title .plan-title__box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.plan-title .plan-title__box .text .text1 {
  font-size: 0.9rem;
  color: #818181;
  margin-bottom: 3px;
}

.plan-title .plan-title__box .text .text2 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.2px;
}

.plan-contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plan-contents .timeline {
  width: 60px;
}

.plan-contents .timeline div {
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
}

.plan-contents .timeline div:after {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  background: #818181;
  position: absolute;
  top: 0;
  right: 0;
}

.plan-contents .timeline div span {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  top: -12px;
}

.plan-contents .plan-table {
  width: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-contents .plan-table .plan-table__column {
  width: 25%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[38];
      grid-template-rows: repeat(38, 1fr);
  border-top: 1px solid #818181;
  position: relative;
}

.plan-contents .plan-table .plan-table__column:first-of-type {
  border-left: 1px solid #818181;
}

.plan-contents .plan-table .plan-table__column > div {
  border: 1px solid #818181;
  border-top: 0;
  border-left: 0;
  height: 30px;
  width: 100%;
}

.plan-contents .plan-table .plan-table__column > div:nth-of-type(2n - 1) {
  border-bottom: 1px solid #e7e7e7;
}

.plan-contents .plan-table .plan-table__column .item {
  width: calc(100% - 1px);
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px 15px 0;
  background: #d1eae1;
  border: 1px solid #d1eae1;
  border: 0;
}

.plan-contents .plan-table .plan-table__column .item .title {
  font-size: 0.85rem;
  font-weight: 500;
}

.plan-contents .plan-table .plan-table__column .item .memo {
  font-size: 0.75rem;
  color: #9c9c9c;
}

.plan-contents .plan-table .plan-table__column .item1 {
  top: 240px;
  height: 59px;
  border-radius: 10px;
}

.plan-contents .plan-table .plan-table__column .item2 {
  top: 300px;
  height: 119px;
  border-radius: 10px;
}

.plan-contents .plan-table .plan-table__column .item3 {
  top: 450px;
  height: 59px;
  border-radius: 10px;
}

.plan-contents .plan-table .plan-table__column .item4 {
  top: 900px;
  height: 59px;
  border-radius: 10px;
}

.plan-contents .plan-table .plan-table__column .item5 {
  top: 480px;
  height: 59px;
  border-radius: 10px;
}

.plan-contents .plan-table .plan-table__column .item6 {
  top: 330px;
  height: 119px;
  border-radius: 10px;
}

.plan-contents .plan-table .plan-table__column .item7 {
  top: 510px;
  height: 89px;
  border-radius: 10px;
}

.submit-box {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffffff;
  padding: 10px;
  border-top: 1px solid #e8e8e8;
}

.submit-box .submit-box__inner {
  width: 95%;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-box .submit-box__inner button {
  font-size: 1rem;
  padding: 5px 23px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.submit-box .submit-box__inner button.exit {
  background: #ffffff;
}

.submit-box .submit-box__inner button.exit:hover {
  background: #eeeeee;
}

.submit-box .submit-box__inner button.next {
  background: #58bd97;
  color: #ffffff;
}

.submit-box .submit-box__inner button.next:hover {
  background: #3ea07a;
}
/*# sourceMappingURL=style.css.map */