* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  width: 1920px;
  margin: 0 auto;
  height: 2000px;
}

.main .header__box {
  margin: 0 auto;
  width: 1240px;
  height: 80x;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header__box .header__logo {
  color: #58bd97;
  height: 100%;
  font-size: 24px;
}

.main .header__box .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header__box .header__menu .menu__label {
  color: black;
  margin-right: 41px;
  font-size: 18px;
}

.main .header__box .header__menu .menu__myPage {
  width: 88px;
  height: 48px;
  background-color: #58bd97;
  border-radius: 24px;
}

.main .inner {
  margin: 0 auto;
  width: 1240px;
}

.main .inner .createNew {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1240px;
  height: 280px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.main .inner .createNew .createNew__img {
  color: #58bd97;
  width: 24px;
  height: 24px;
  margin-bottom: 14px;
}

.main .inner .createNew .createNew__label {
  font-size: 18px;
  color: #58bd97;
}

.main .inner .list {
  width: 100%;
}

.main .inner .list .list__row {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .inner .list .list__row .tripLog {
  width: 280px;
  height: 360px;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.main .inner .list .list__row .tripLog .tripImg {
  width: 280px;
}

.main .inner .list .list__row .tripLog .tripInfo {
  padding: 12px 0 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .inner .list .list__row .tripLog .tripInfo .tripInfo__title {
  font-size: 16px;
  margin-bottom: 9px;
  font-weight: bold;
}

.main .inner .list .list__row .tripLog .tripInfo .tripInfo__date {
  font-size: 14px;
  color: gray;
}
/*# sourceMappingURL=tripList.css.map */