.OUTLINE {
  fill: black;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
}
#wholeMap {
  z-index: 100;
  position: absolute;
}
.OUTLINE:hover {
  fill: red;
}

.도 {
  position: absolute;
  display: none;
  opacity: 0;
}
.TEXT {
  fill: #ffffff;
  font-size: 16;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;
}
.TEXT:hover {
  cursor: pointer;
  fill: red;
}
#doName {
  font-size: 100px;
}
